* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    margin: 1em 0;
}

#header {
    display: flex;
    flex-direction: column;
}

.header-top {
    border-bottom: solid 2px #34e;    
    display: flex;
    justify-content: center;
    padding: 1em;
}

.header-top img {
    background-color: #34e;
    width: 8em;
    height: 8em;    
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: solid 2px #34e;   
}

.header-bottom ul {
    display: flex;
    justify-content: space-around;
    width: 40%;
    list-style-type: none;
    padding: 1em;
        
}

.header-bottom ul li a {
    color: black;
    text-decoration: none;
}

.container {
    margin: 0 15%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefff;
}

.service-cards {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}

form {
    width: 40vw;
    height: 25vw;
    border: solid 1px #4444ff;
    background-color: #dedeff;
    border-radius: .5em;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-field {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 1em;
}

.form-field input {
    height: 2em;
    border-radius: .5em;
    border: none;
}

.form-field label {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
}

.submit-field {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.submit-field input {
    height: 2em;
    width: 4em;
    background-color: #34e;
    border: none;
    border-radius: .5em;
    color: white;
}

.submit-field input:hover {
    background-color: #22c;
}

.new-question-form {
    width: 80%;
    background-color: #dedeff;
    border-radius: 1em;
    padding: 2em;
    display: flex;    
    flex-direction: column  ;        
}

.new-question-top {
    display: flex;
}

.new-question-text {
    display: flex;    
    align-items: center;
    width: 70%;
    padding: 0;
}

.new-question-text input {
    width: 79%;
    height: 2em;
    border-radius: .5em;
    background-color: #fefefe;
    border: none;
}

.new-question-text p {
    font-size: 1.2em;
    width: 20%;
}

.new-question-dropdown {
    padding: 0;
    width: 30%;
}

.new-question-dropdown select {
    width: 100%;
    border-radius: .5em; 
    background-color: #efefef;
    border: none;
    height: 2em;
}

.new-question-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.new-question-bottom button {
    height: 3em;
    border: none;
    border-radius: .5em;
    background-color: #22c;
    color: white;
    padding: 5px;
}

.option-area {
    width: 60%;
    height: 15em;
}

.new-option-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.new-option-button {
    padding: 5px;
    border: none;
    border-radius: .5em;
    background-color: #4444ff;
    color: white;
    margin-top: 2em;
    height: 1.5em;    
    width: 20%;
    font-size: .8em;    
}

.option-area input {
    border: none;
    background-color: #fefefe;
    border-radius: .5em;
    width: 70%;
    height: 1.7em;
    margin-top: .5em;
}

.single-option {
    border-radius: .5em;
    width: 50%;
    background-color: whitesmoke;
    color: #22c;
    margin-top: .5em;
    padding: 5px;
    font-size: .8em;
}

.survey-title {
    margin: 1.5em 0;    
    color: rgb(0, 0, 133);
}

.current-questions {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current-questions-item {
    width: 90%;
    background-color: #ddddff;
    border-radius: 1em;
    margin-bottom: 1em;
    padding: 1em;
    color: #555555;
}

.make-a-survey-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.make-a-survey-heading button {
    border: none;
    border-radius: .5em;
    background-color: #2a1;
    color: white;
    width: 30%;
    height: 3em;
}

.message {
    color: #22c;
    margin: 1em;
}

.all-surveys {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.survey {
    width: 70%;
    background-color: #ccccff;
    margin: .5em;
    padding: 1em 5em;
    border-radius: 1em;
}

.all-surveys a {
    width: 100%;
    color: #0000aa;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.single-survey {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.survey-info { 
    margin: 1em 15%;
}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.question {
    margin: .5em;
    background-color: #bbbbff;
    border-radius: .5em;
    padding: .5em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
}

.question form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.question-title {
    font-size: 1.2em;
    font-weight: 700;
}

.answer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: .5em;
    width: 70%;
}

.answer label {
    margin: 0 1em;
}

.answer textarea {
    height: 3em;
    width: 90%;
    margin: auto;
}

.question-answer-form {
    height: 100%;
    width: 80%;
}
/* 
#submit-form {
    height: 1em;
    widows: 3em ;
} */

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-data {
    width: 70%;
    display: flex;
    justify-content: center;
    background-color: #ccccff;
    padding: 2em;
    border-radius: 1em;
    height: fit-content;
}

.user-data-img,
.user-data-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 1em;
    text-align: left;
}

.user-data-text {
    text-align: left;
    font-weight: 600;
}

.user-data-img img {
    width: 80%;
    border-radius: 1em;
}

.user-data-text a {
    color: #7777ff;
}

.form-field-column {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-weight: 600;
    margin-bottom: 1em;
}

.form-field-column input {
    height: 4em;
}

.about {
    margin: 1em 0;
    font-weight: 400;
    border: solid 1px #4444ff;
    border-radius: .5em;
    padding: .5em;
}

.user-surveys {
    height: 3.5em;
    display: block;
    margin-top: 2em;
}

.a-button {
    width: 30%;
    height: 100%;
    border-radius: .5em;
    background-color: #22c;
    color: white;
    text-decoration: none;
    padding: .5em;
    transition: .3s;
}

.a-button:hover {
    background-color: #4444ff;
    transition: .3s;
}

.edit-question {
    background-color: #ccccff;
    border-radius: .5em;
    width: 60%;
    padding: 2em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.edit-answers {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1em 3em;
}

#submit-edit-form {
    width: 7em;
    margin: auto;
}

#login_link {
    background-color: #0000aa;
    border-radius: .5em;
    border: solid 2px #000099;
    color: #ffff;
    padding: .1em .3em;
}

.question-boxes-edit {
    margin: 2em 0;
    background-color: #ddddff;
    width: 80%;
    border-radius: 1em;
    padding: 1.5em 3em;
}

.question-box-edit-bottom {
    width: 90%;
    padding: 1em 2em;
    background-color: #ccccff;
    margin: auto;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;
}

.question-box-edit {
    width: 90%;
    padding: 1em 2em;
    background-color: #ccccff;
    margin: auto;
    border-radius: 1em;
}

.question-box-edit-left,
.question-box-edit-right {
    color: #111199;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-box-edit span {
    font-size: 1.5em;
    font-weight: bold;
    border:solid 1px #000099;
    border-radius: .5em;
    width: 60%;
    padding: .5em;
}

.question-box-edit p {
    width: fit-content;
}

.answers-edit {
    min-height: .5em;
}

.answers-edit p {
    margin: .5em;
    border: solid 1px #0000aa;
    border-radius: 1em;
    color: #000099;
    padding: .5em;
}
/* 
.save-button {
    width: 3em;
    height: ;
} */

.checkbox_item {
    padding: 0;
}

.question-title-input {
    margin-bottom: 2em;
}

.question-edit {
    background-color:  #bbccdd;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 2em;
}

.question-left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.question-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.answers-to-this {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.answer-input {
    width: 60%;
}

.question-title-input {
    width: 80%;
}

.add-option-button {
    width: 70%;
    margin: auto;
}