extends base.pug

block title
  title Home

block scripts 

block content
  .container 
    .single-survey
        .survey-info 
            h2 Survey: &nbsp; #{survey.title}
            h3 Description: &nbsp; #{survey.description}
        .questions 
            for question in survey.questions 
                .question
                    p(class="question-title")= question.title
                    for answer in question.answers 
                        .answer
                            p= answer