html
  head
    block head_tags 
      link(rel="stylesheet" type="text/css" href="css/style.css")
    block title
      title My Site - #{title}
    block scripts      

  body
    block header 
      #header 
        div(class="header-top")
            img(class="logo-main" src="images/JSurvey-logos.jpeg")        
        div(class="header-bottom")
            ul(class="navbar-left")
                li 
                    a(href="/jsurvey/") Home
                li 
                    a(href="/jsurvey/make-a-survey") Make a survey
                  
                li 
                    a(href="/jsurvey/all_surveys") All surveys 
                    
                li 
                    a(href="/") Profile            
                                                   
            if(username)
              ul(class="navbar-right")   
                  li 
                      a(href="/jsurvey/logout") Logout                                 
            else              
              ul(class="navbar-right")                         
                    li 
                        a(href="/jsurvey/login") Login 
                    li 
                        a(href="/jsurvey/register") Register 

    block content
    block foot
      #footer
        h2 Footer