html
  head
    block head_tags 
      link(rel="stylesheet" type="text/css" href="css/style.css")
    title My Site - #{title}
    block scripts
      script(src='/jquery.js')

  body
    block header 
      #header 
        div(class="header-top")
            img(class="logo-main")
        div(class="header-bottom")
            ul(class="navbar-left")
                li 
                    a(href="/") Home
                li 
                    a(href="/") Make a survey
                li 
                    a(href="/") Profile            
            ul(class="navbar-right")
                li 
                    a(href="/") Login 
                li 
                    a(href="/") Register                           

    block content
    block foot
      #footer
        h2 Footer