extends base.pug

block title 
  title Make a survey 

block scripts
  script(src="scripts/edit_question.js") 

block content 
  .container
    input(type="hidden" name="user-id" value=userId)
    .make-a-survey-heading
      h2(class="survey-title" name=survey_id) Survey name:
      button(id="save-changes-button") Save changes
    .current-questions 
