extends base.pug

block title
  title Home

block scripts 
  

block content
  .container 
    .info-container   
        h1= info_title 
        p= info_text
        a(href="/jsurvey") See other surveys 
        //- a(id="login_link" href=info_anchor_href)= info_anchor 
        a(id="login_link" href=info_anchor_href) Login
