extends base.pug

block content 
  .container 
    form(action="/login" method="POST")
        .form-field
            label(for="username") Username
            input(type="text" name="username")  
        .form-field 
            label(for="password") Password
            input(type="password" name="password")
        .submit-field 
            input(type="submit" value="Login")