extends base.pug

block title 
  title Make a survey 

block scripts
  script(src="scripts/new_question.js") 

block content 
  .container
    h2 Survey name: #{title}
    .current-questions
    .new-question-form
      p Question:
      input(type="text")
    
      select(id="question-type")
        option(value="") Choose question type 
        option(value="text") Text 
        option(value="radio") Radio 
        option(value="checkbox") Checkbox
    
    
    button(id="add-question-button") Add new question