extends base.pug

block scripts
  script(src="scripts/new_question.js") 

block content 
  .container 
    form.new-question(action="/add_question" method="POST")
        .new-question-text
            label(for="question-text") Question text:
            em &emsp;   
            input(type="text" name="question-text")
        .new-question-settings
            .new-question-option
                p Add list of possible answers (optional)
                a(id="question-radio") Radio button 
                a(id="question-checkbox") Checkboxes
            #form-area
        .new-question-form-field
            input(type="submit" value="Add question" id='new-question-submit')            

    .all-questions-list
      each quest in questions
        p= quest