extends base.pug

block title 
  title Make a survey 

block scripts
  script(src="scripts/new_question.js") 

block content 
  .container
    input(type="hidden" name="user-id" value=userId)
    .make-a-survey-heading
      h2(class="survey-title") Survey name: #{title}
      button(id="save-survey") Save survey
    .current-questions
    .new-question-form
      .new-question-top
        .new-question-text
          p Question:
          input(name="question-text-input" type="text")
      
        .new-question-dropdown
          select(id="question-type")
            option(value="") Choose question type 
            option(value="text") Text 
            option(value="radio") Radio 
            option(value="checkbox") Checkbox
      .new-question-bottom
        .option-area 
      
        button(id="add-question-button") Add new question