extends base.pug

block title
  title Home

block scripts 

block content
  .container 
    h1 Browse surveys
    .all-surveys 
        for survey in all_surveys 
          -let id = survey._id.toString()
          if page_context == 'edit'
            a(href="/jsurvey/edit-survey?id="+id) 
              .survey 
                  h3= survey.title 
                  p= survey.description                 
          else 
            a(href="/jsurvey/view-results?id="+id) 
              .survey 
                  h3= survey.title 
                  p= survey.description                 
