extends base.pug

block content 
  .container 
    p=error
    form(action="/jsurvey/register" method="POST")    
        .form-field
            label(for="username") Username 
            input(type="text" name="username")
        .form-field
            label(for="email") Email
            input(type="email" name="email")
        .form-field
            label(for="password") Password  
            input(type="password", name="password")
        .form-field-column 
            label(for="about") Describe yourself in a few sentences
            textarea(name="about", rows="5") 
        .submit-field            
            input(type="submit" value="Register")